{% extends 'core/base.html' %}

{% load static %}
{% block background %} {% static 'core/img/about-bg.jpg'%} {% endblock%}

{% block header %}
<h1>Acerca de mi.</h1>
<span class ="subheading"> Una muchacha chevere</span>
{% endblock %}

{% block content %}
 <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-4 offset-lg-1">
          <img class="img-fluid avatar" src="img/avatar.jpg" alt="">
        </div>
        <div class="col-lg-7 col-md-8">
          <h2 class="section-heading">Juan Pérez</h2>
          <p>Nacida en Venezuela el 15 de Abril del 2002.</p>
          <p>Actualmente en 6to semestre de Ingenieria en Tecnologias de Informacion.</p>
        </div>
      </div>
    </div>
{% endblock %}