{% extends 'core/base.html' %}

{% load static %}

{% block background %}
    {% static 'core/img/contact-bg.jpg' %}
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            {% if Persona %}
                <p><b>Nombre:</b> {{ Persona.name }} {{ Persona.apellidos }}</p>
                <p><b>Dirección:</b> {{ Persona.direccion }}</p>
                <p><b>Teléfono:</b> {{ Persona.telefono }}</p>
                <p><b>Email:</b> {{ Persona.email }}</p>
                <p><b>Profesión:</b> {{ Persona.trabajo }}</p>
                <p><b>Título:</b> {{ Persona.titulo }}</p>
                <p><b>Biografía:</b> {{ Persona.biografia }}</p>
            {% else %}
                <p>No hay información de la persona.</p>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}