{% extends 'core/base.html' %}
{% load static %}
{% block background %} {% static 'core/img/da.JPG'%} {% endblock%}

{% block header %}
<h1>Portada</h1>


{% endblock %}
{% block content %}
<div class="container">
	      <!-- Proyecto -->
	      <div class="row project">
	      	<div class="col-lg-3 col-md-4 offset-lg-1">
			      <img class="img-fluid" src="{% static 'core/img/cafe.jpg'%}" alt="">
	      	</div>
	        <div class="col-lg-7 col-md-8">
	      		<h2 class="section-heading title"> Aplicacion Web</h2>
	          <p>Proyecto creado para aprender a usar Django con lenguaje de programacion python, con la finalidad de volverme una PRO en desarrollo web. ;)</p>
	      	</div>
	      </div>
</div>
{% endblock %}